{% extends 'base.html' %} {% block metho_active %}active{% endblock %} {% block
content %}
<div id="methodology" class="container-fluid pt-5">
  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <h1 class="text-center">Methodology</h1>
      <h2 class="text-center">
        <span>Investing</span> is Rational. Money is <span>Emotional</span>
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="my-3 col-12 no-image">
        <h1>It's all about diversification</h1>
        <h3>
          While there is no such thing as a free lunch, risk reduction through
          diversification is as close as it gets.
        </h3>
        <p>
          Diversification is about buying a basket of securities that tend to do
          well (or poorly) at different times and under different economic
          conditions. Being thoughtful about how much capital to allocate to
          each of these securities can result in far more consistent returns
          than concentrating all capital (and risk) in a single security or
          asset class. These portfolios are diversified across multiple asset
          classes, including stocks, bonds, and inflation-hedging securities
          like Real Estate Investment Trusts. The capital allocation to each of
          these asset classes is dialed up or down depending on the desired risk
          level. When these asset classes are combined together intelligently in
          a portfolio they can provide income, growth, and stability during
          different economic conditions.
        </p>

        <p>Traditionally, it is well accepted in the industry that:</p>
      </div>
      <div class="my-3 col-lg-6 no-image">
        <ul>
          <li>Stocks do well in times of growth</li>
          <li>
            Bonds provide stability and income during periods of market
            downturns
          </li>
          <li>
            Real Estate, Inflation-Protection Bonds and Gold do well during
            inflationary periods
          </li>
        </ul>
      </div>
      <div class="text-center my-3 col-lg-6">
        <img
          class="img-fluid"
          src="https://armisfinancial.com/dist/img/div.png"
          alt=""
        />
      </div>
      <div class="my-3 col-12 no-image">
        <h1><span>KIKEN</span> Allocation</h1>
        <h3>Using a Nobel Prize Winning Approach</h3>
        <p>
          Our portfolios allocate capital to an equity component, a bond
          component and an inflation-hedging component. Together these deliver
          good diversification, which leads to risk reduction and return
          stability.
        </p>
        <p>
          The capital allocation to each of these asset classes is dialed up or
          down depending on the targeted risk profile. Users fill out a risk
          questionnaire, and receive a recommended portfolio based on their
          responses to that risk.
        </p>
      </div>
      <div
        class="d-flex flex-column justify-content-center text-center my-3 col-lg-6"
      >
        <img
          src="https://armisfinancial.com/dist/img/allo.PNG"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="my-3 col-lg-6 no-image">
        <p>
          KIKEN's approach to portfolio construction is influenced by the work
          of Nobel Prize laureates William Sharpe and Harry Markowitz, who
          shaped the role of financial science in investing through their
          development of Modern Portfolio Theory. This theory states that a
          portfolio diversified across asset classes offers the best opportunity
          for an investor to achieve the highest possible return for a given
          level of risk. It suggests that your portfolio should be diversified
          with REITs, international equities, emerging market equities, US
          equities, and fixed income. Our portfolios own around 12,000 stocks in
          over 40 countries as well as bonds that are selected based upon each
          customer's unique situation.
        </p>
      </div>
      <div class="col-12 my-3 no-image">
        <h1>Passive Investing</h1>
        <p>
          What is passive investing? We first must define active investing.
          Active investing is paying someone to pick investments for you—such as
          stocks, bonds, or any other kind of investment. It involves paying not
          only this person and his or her team — in this case a mutual fund
          manager — to pick these investments, but paying for lots of expensive
          trading when the manager decides to buy and sell things. The
          perception behind active investing is that these people are smarter
          than the market as a whole, and that will make it worth the extra cost
          for paying the manager and the extra trading. Although this might
          sound great at first, mutual fund managers are bound by regulatory
          laws and job complacency incentives to not always go with their best
          ideas. Learn more to find out what I mean by that.
        </p>
      </div>
      <div class="text-center col-lg-6 my-3">
        <img
          class="img-fluid"
          src="https://armisfinancial.com/dist/img/pass.png"
          alt=""
        />
      </div>
      <div class="col-lg-6 my-3 no-image">
        <p>
          Passive investing is different (in a good way). Passive investing runs
          on the principle that individuals are actually very bad at picking
          winners when it comes to stocks, bonds or other investments (which an
          abundant amount of research proves), passive investments track entire
          swathes of different markets. Whether those swathes happen to be all
          the companies that make up the S&P 500 —or stocks from one part of the
          world, certain types of bonds, real estate, or what have you. Instead
          of trying to pick winners, you diversify. The costs of diversifying in
          passive investments are a fraction of the costs of active investments
          (Mutual Funds).
        </p>
      </div>
      <div class="col-lg-6 my-3 no-image">
        <p>
          Warren Buffet, arguably the most successful investor in the world,
          made a bet about a decade ago that a passive S&P 500 index fund would
          outperform a hedge fund. He won handily. he final results were a 7.1%
          annualized gain for the S&P 500 index fund (about 99% overall return)
          versus just 2.2% annualized (about 24% total) for the basket of funds
          Ted Seides (the hedge fund manager whom he made a bet against) had
          selected. Although Buffet has made an enormous fortune and built a
          reputation for picking winning investments, why did Warren Buffet bet
          on Passive Investing? And why is he willing to bet on it again?
        </p>
      </div>
      <div class="text-center col-lg-6 my-3">
        <img
          class="img-fluid"
          src="https://armisfinancial.com/dist/img/buffet.jpg"
          alt=""
        />
      </div>
      <div class="col-12 my-3 no-image">
        <p>
          First and foremost, selling out of all your stocks and buying passive
          index investments is not what Buffet is suggesting. He has nothing
          against stock picking if you have knowledge, desire, time and
          discipline. However, most individuals don’t, which for that very
          reason makes passive index investing the best investment for most
          individuals. Buffet has a problem with actively managed funds (Hedge
          and Mutual funds), due to their high fees. Some fund managers will
          beat the market some years and some will lose. And since they all
          charge higher fees, investors are at an inherent disadvantage,
          particularly over investors with a long-time horizon.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
