@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');
$main-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$blue: #00c5c8;
$grey: #32373d;

body {
  font-family: $secondary-font;
  background: #fff;
  color: $grey;
}

a {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: #2f89fc;
  :hover,
  :focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

button {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  :hover,
  :focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1;
  font-weight: 700;
  font-family: $main-font;
  color: $grey;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  width: 100%;
}

// Media Query Mixin

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
